<!--<head>-->
		<!--<title>Travalue | Home</title>-->
		<!--<meta charset="utf-8" />-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />-->
{% set reference = url_for('static', filename='views/main/assets/') %}
<link rel="stylesheet" href="{{ reference }}css/main.css" />
<noscript><link rel="stylesheet" href="{{ reference }}/css/noscript.css" /></noscript>
<!--</head>-->
<body class="landing is-preload">

	<!-- Page Wrapper -->
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html"><img id="nav-logo" src="{{ reference }}img/logo-horiz.png"></a></h1>
					<nav id="nav">
						<ul>
							<li class="special">
								<a href="#menu" class="menuToggle"><span>Menu</span></a>
								<div id="menu">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Why Travalue?</a></li>
										<li><a href="/account">Sign Up</a></li>
										<li><a href="/account">Log In</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="inner">
						<h2>Travalue</h2>
						<ul class="icons major">
							<!-- font awesome v 4.7 -->
							<li><span class="icon fa-circle-o style1"><span class="label">1</span></span></li>
							<li><span class="icon fa-circle-o style1"><span class="label">2</span></span></li>
							<li><span class="icon fa-circle-o style1"><span class="label">3</span></span></li>
							<li><span class="icon fa-circle-o style1"><span class="label">4</span></span></li>
							<li><span class="icon fa-circle-o style1"><span class="label">5</span></span></li>
						</ul>
						<p>Travel with value in 5 steps</p>
						<ul class="actions special">
							<li><a href="/account" class="button primary">Let's Start!</a></li>
						</ul>
					</div>
					<a href="#one" class="more scrolly">Still curious?</a>
				</section>

			<!-- One -->
				<section id="one" class="wrapper style1 special">
					<div class="inner">
						<header class="major">
							<h2>Customer Experiences</h2>
							<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
							fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
						</header>
					</div>
				</section>

				<section id="two" class="wrapper style5 special">
					<div class="inner">
						<header class="major">
							<h2>Companies that TraValue</h2>
							<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
							fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
						</header>
						<ul class="icons major">
							<!-- font awesome v 4.7 -->
							<li><span class="icon fa-car major style1"><span class="label">Lorem</span></span></li>
							<li><span class="icon fa-suitcase major style2"><span class="label">Ipsum</span></span></li>
							<li><span class="icon fa-bus major style3"><span class="label">Dolor</span></span></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style2 special">
					<div class="inner">
						<header class="major">
							<h2>What's New</h2>
							<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
							fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
						</header>
						<ul class="features">
							<li class="icon fa-paper-plane-o">
								<h3>Arcu accumsan</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
							<li class="icon fa-laptop">
								<h3>Ac Augue Eget</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
							<li class="icon fa-code">
								<h3>Mus Scelerisque</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
							<li class="icon fa-headphones">
								<h3>Mauris Imperdiet</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
							<li class="icon fa-heart-o">
								<h3>Aenean Primis</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
							<li class="icon fa-flag-o">
								<h3>Tortor Ut</h3>
								<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
							</li>
						</ul>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style4">
					<div class="inner">
						<header>
							<h2>Arcue ut vel commodo</h2>
							<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
						</header>
						<ul class="actions stacked">
							<li><a href="#" class="button fit primary">Activate</a></li>
							<li><a href="#" class="button fit">Learn More</a></li>
						</ul>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-linkedin"><span class="label">Twitter</span></a></li>
						<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
						<!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
						<!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; New Engineers</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

	<!-- Scripts -->
		<script src="{{ reference }}js/jquery.min.js"></script>
		<script src="{{ reference }}js/jquery.scrollex.min.js"></script>
		<script src="{{ reference }}js/jquery.scrolly.min.js"></script>
		<script src="{{ reference }}js/browser.min.js"></script>
		<script src="{{ reference }}js/breakpoints.min.js"></script>
		<script src="{{ reference }}js/util.js"></script>
		<script src="{{ reference }}js/main.js"></script>

</body>