{% set reference = url_for('static', filename='views/main/resources/') %}


<!--suppress ALL -->
<link rel="stylesheet" href="{{ reference }}css/leaflet.css"/>
<link rel="stylesheet" href="{{ reference }}leaflet-routing-machine.css"/>
<link rel="stylesheet" href="{{ reference }}Control.Geocoder.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container">
    <div class="header">
        <h1 id="brand-text">Travalue</h1>
        <div id="nav-steps">
            <a href="#"><span class="far fa-circle"></span></a>
            <a href="#"><span class="far fa-circle"></span></a>
            <a href="#"><span class="far fa-circle"></span></a>
            <a href="#"><span class="far fa-circle"></span></a>
            <a href="#"><span class="far fa-circle"></span></a>
        </div>
    </div>
    <div class="map-container">
        <div id="map-reference"></div>
    </div>
</div>
<div class="bg"></div>


<script src="{{ reference }}leaflet.min.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="{{ reference }}Control.Geocoder.js"></script>
<script src="{{ reference }}leaflet-routing-machine.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
