{% set reference = url_for('static', filename='views/main/resources/') %}


<!--suppress ALL -->
<link rel="stylesheet" href="{{ reference }}leaflet.css"/>
<link rel="stylesheet" href="{{ reference }}leaflet-routing-machine.css"/>
<link rel="stylesheet" href="{{ reference }}Control.Geocoder.css" />

<div class="map-container">
    <div id="map-reference"></div>
</div>

<script src="{{ reference }}leaflet.min.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="{{ reference }}Control.Geocoder.js"></script>
<script src="{{ reference }}leaflet-routing-machine.js"></script>
