<div class="container">
    <form class="form-horizontal" id="account-login" method="post">
        <div class="form-group">
            <label>
                Username
                <input class="form-control" id="username-login" type="text" name="username"/>
            </label>

        </div>
        <div class="form-group">
            <label>
                Password
                <input class="form-control" id="username-password" type="password" name="password">
            </label>
        </div>

        <input class="form-control" type="submit" value="Login">
    </form>
</div>
